@import url(https://fonts.googleapis.com/css?family=Montserrat);

*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Montserrat';
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: visible;
  background: url("https://media.istockphoto.com/photos/chhatrapati-shivaji-terminus-in-mumbai-india-picture-id1334792855?k=20&m=1334792855&s=612x612&w=0&h=sZeTeAkggGVROi9mipNZkd1x7F2DUacfmECMtptB9ZM=") no-repeat;
  background-size: cover;
  font-family: montserrat, arial, verdana;

}
::selection{
  color: black;
  background: lightblue;
}
.container{
  width: 330px;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 4px 4px 25px 4px #022522;
  padding: 20px 45px 0px 45px;
}
.container header{
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  margin: 0 0 10px 0;
}
.container .form-outer{
  width: 100%;
  margin-top: -0%;
  overflow: hidden;
}
.container .form-outer form{
  display: flex;
  width: 400%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(24, 8, 113);
  font-weight: bold;
}
.form-outer form .page .field{
  width: 330px;
  height: 45px;
  margin: 20px 0;
  display: flex;
  position: relative;
}
form .page .field .label{
  position: absolute;
  top: -15px;
  font-family: 'Cairo', sans-serif;
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 13px;
}
form .page .field input{
  height: 80%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 15px;
}
form .page .field .addressbox input{
	height: 80%;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding-left: 15px;
	font-size: 15px;
  }
form .page .field input:focus, form .page .field select:focus
{
  border: 2px solid rgb(24, 8, 113);
}
form .page .field select{
  width: 100%;
  padding-left: 10px;
  font-size: 15px;
  border-radius: 10px;
  font-weight: 500;
}
form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #1c88fc;
  margin-top: -10px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 1s ease;
}
form .page .field button:hover{
  background: rgb(24, 8, 113);
}
form .page .btns button{
  margin-top: -15px!important;
}
form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
  font-weight: bold;
}
form .page .btns button.next{
  margin-left: 3px;
  font-weight: bold;
}
.container .progress-bar{
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
  user-select: none;
}
.container .progress-bar .step{
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p{
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}
.progress-bar .step .bullet{
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active{
  border-color: green;
  background: rgb(67, 186, 67);
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}
.progress-bar .step .bullet.active:after{
  background: green;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: #d43f8d;
  transition: 0.2s linear;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 52%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active{
  display: block;
  color: #fff;
}